body{
    background: #000;
    color: #fff;
    font-family: 'Roboto';font-size: 22px;

}
.img-flag{
    height: 160px;
    object-fit: cover;
}
.card{
    margin: 10px;
}
h1.title{
    font-size: 120px;
    text-align: center;
}
p{
    font-size: 20px;
}
.strong{
    font-weight: bold;
}
div.search {
    width: 100%;
    display: flex;
    margin: auto;
    align-items: end;
    justify-content: right;
}
.search-bar{
    width: 20%;
}